* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Colors */
:root {
    --primary-color: #222;
    --secondary-color: rgb(190, 159, 74);
    --button-color: rgb(168, 137, 50);
}

html {overflow-x: hidden;}

body {
    background: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

/* Utilities */

.container {
    width: 85%;
    margin: 0 auto;
}

.l-heading {
    font-weight: 800;
    font-size: 2.5rem;
}

.m-heading {
    font-size: 1.5rem;
}

.section-heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2.0rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1px;

}
.section-heading::after {
    display: block;
    content: '';
    width: 7rem;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 1.5rem auto 3.5rem auto;  
}

.gold-span {
    font-weight: 800;
    color: var(--secondary-color);
}

.section-padding {
    padding: 5rem 0;
}

.btn,
input[type="submit"] {
    margin: 1rem;
    padding: 0.6rem 0.85rem;
    font-size: 110%;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-light {
    background: #fff;
    color: #000;
}

.btn-dark {
    background: #333;
    color: #fff;
}

.btn:hover,
input[type="submit"]:hover {
    background: var(--button-color);
    color: #fff;
}



/* Header Section */

.main-header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.6)), to(rgba(0, 0, 0, 0.6))), url('../images/landing-page-min.jpg');
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0, 0, 0, 0.6)), url('../images/landing-page-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 2rem;
    height: 60px;
    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-shadow: 1px 1px 3px #000;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(161, 118, 0, 0.7)), to(rgba(51, 51, 51, 0.8)));
    background: linear-gradient(to right, rgba(161, 118, 0, 0.7), rgba(51, 51, 51, 0.8));
    border-bottom: 1px solid var(--secondary-color);
}

.mobile-nav-icon {
    display: none;
}
.mobile-nav-icon i {
    font-size: 1.6rem;
    cursor: pointer;
    float: right;
}

.landing-page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1.5;
    height: 100%;
}

.main-nav ul {
    list-style: none;
    font-size: 120%;
}

.main-nav ul li {
    display: inline-block;
    margin-right: 0.5rem;
    padding: 1.16rem;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.main-nav ul li:hover {
    background: #222;
}

.main-nav ul li a {
    color: #f4f4f4;
    -webkit-transition: all 0.20s;
    transition: all 0.20s;
}

.main-nav ul li a:hover {
    color: var(--secondary-color);
}

.main-header .top-arrow {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 2rem;
    background: #111;
    padding: 0.6rem 0.9rem;
    border-radius: 50%;
    z-index: 20;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
.main-header .top-arrow i {-webkit-transition: all 0.25s;transition: all 0.25s;}
.main-header .top-arrow i:hover {color: var(--secondary-color);}

/* Services Grid Section */
.services img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.grid-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    width: 100%;
    height: 100%;
    text-align: center;
}

.grid-item-1 {
    grid-area: grid-item-1;
}
.grid-item-2 {
    grid-area: grid-item-2;
}
.grid-item-3 {
    grid-area: grid-item-3;
}
.grid-item-4 {
    grid-area: grid-item-4;
}
.grid-item-5 {
    grid-area: grid-item-5;
}
.grid-item-6 {
    grid-area: grid-item-6;
}
.grid-item-7 {
    grid-area: grid-item-7;
}
.grid-item-8 {
    grid-area: grid-item-8;
    padding: 6rem;
    text-align: left;
}

.services-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "grid-item-1 grid-item-1 grid-item-2 grid-item-2"
    "grid-item-1 grid-item-1 grid-item-2 grid-item-2"
    "grid-item-3 grid-item-4 grid-item-5 grid-item-6"
    "grid-item-7 grid-item-7 grid-item-8 grid-item-8"
    "grid-item-7 grid-item-7 grid-item-8 grid-item-8";
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-gap: 0.25rem;
    
}

.services i,
.contact-info i {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.services i:hover,
.contact-info i:hover {color: rgb(255, 206, 71);}

.services h1,
.services h2,
.services h3 {
    margin-bottom: 1rem;
}

.services p,
.services ul {
    text-align: left;
    font-size: 105%;
    margin-top: 1.0rem;
    line-height: 2.0;
    list-style: disc;
}

.services .btn {
    display: block;
    width: 200px;
    margin-top: 2rem;
}


/* Projects Section */
.grid-image {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    cursor: pointer;
}
.grid-image-1 {grid-area: grid-image-1;}
.grid-image-2 {grid-area: grid-image-2;}
.grid-image-3 {grid-area: grid-image-3;}
.grid-image-4 {grid-area: grid-image-4;}
.grid-image-5 {grid-area: grid-image-5;}

.projects-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "grid-image-1 grid-image-1 grid-image-2 grid-image-2"
    "grid-image-3 grid-image-4 grid-image-4 grid-image-5";
    grid-gap: 2rem;
}
.projects-grid-container a {
    width: 100%;
    height: 100%;
}

.projects-section img {
    -webkit-filter: saturate(1.1);
    filter: saturate(1.1);
}


/* Customer Testimonials Section */

.testimonial-section h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 1rem;
}

.testimonial-section img {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.testimonial-paragraph {
    font-size: 1.05rem;
    line-height: 1.5;
    width: 60%;
    font-weight: 100;
    color: #afafaf;
    margin: 1rem auto 0 auto;
    text-align: center;
}

/* Carousel Arrows */
.slick-prev::before,
.slick-next::before {
    color: var(--secondary-color) !important;
    font-size: 2.4rem !important;
}


/* Carousel dots color */
.slick-dots li button:before{
    margin-top: 1rem;
    color: #fff !important;
}


/* Footer Section */

footer {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.contact-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "discuss-project contact-form contact-info";
    justify-items: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    grid-gap: 3rem;
}


.discuss-project {
    text-align: left;
    grid-area: discuss-project;
}
.discuss-project h2 {
    margin-top: 1rem;
    font-weight: 800;
    color: var(--secondary-color);
}
.discuss-project p {
    margin: 2rem 0;
    font-size: 0.9rem;
}


.contact-name {
    grid-area: contact-name;
}
.contact-email {
    grid-area: contact-email;
}
.contact-phone {
    grid-area: contact-phone;
}
.contact-address {
    grid-area: contact-address;
}

.contact-grid-container .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "contact-name contact-email"
    "contact-phone contact-address";
    grid-gap: 2.5rem;
}

.contact-info i {
    font-size: 2.1rem;
    margin: 1.0rem 0;
    padding-right: 1rem;
    color: var(--secondary-color);
    vertical-align: middle;
}
.contact-form {
    grid-area: contact-form;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="number"] {
    color: #fff;
    padding: 0.4rem;
    margin-top: 1rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--secondary-color);
    caret-color: var(--secondary-color);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form input[type="number"]:focus {
    outline: none;
    border-bottom: 1px solid #fff;
} 

.contact-form input[type="submit"] {
    margin: 0 auto;
    background: transparent;
    width: 100%;
    border: none;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background: var(--secondary-color);
    color: #000;
}
.contact-form input[type="submit"]:focus {outline: none;}

.contact-info {
    text-align: left;
}
.contact-info h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--secondary-color);
}
.contact-info{
    font-size: 0.84rem;
    grid-area: contact-info;
}
.contact-info .fa-mobile-alt {
    font-size: 3rem;
}

.contact-social {
    font-size: 1.8rem;
}
.contact-social li {
    display: inline-block;
    margin: 0 0.2rem;
}

.contact-social .fa-facebook,
.contact-social .fa-twitter,
.contact-social .fa-instagram,
.contact-social .fa-github {
    -webkit-transition: all 0.24s;
    transition: all 0.24s;
}


.contact-social .fa-facebook:hover {
    color: #385fb3;
}
.contact-social .fa-twitter:hover {
    color: #17a6ff;
}
.contact-social .fa-instagram:hover {
    color: #c32aa3;
}
.contact-social .fa-github:hover {
    color: rgb(168, 168, 168);
}